.modalDivContactFormActive{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.divForMiniContactForm{
    background-color: rgba(142, 145, 143, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstDivContactFormActive .divForMiniContactForm{
    display: none;
}

.buttonAddMiniContactForm{
    border: transparent 1px solid;
    background: transparent;
    color: yellow;
    text-shadow: 2px 2px 5px black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
	height: 100%;
	cursor: pointer;
    transition: width 250ms cubic-bezier(0.25, 0.1, 0.25, 1), height 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}


.firstDivContactForm{
    position: relative;
    padding: 0;
    width: 100px;
    height: 60px;
    background-color: #949494;
    border-radius: 4px;
    top: 0;
    left: 100%;
    transform: translate(-100%, 0);
    transition: width 250ms cubic-bezier(0.25, 0.1, 0.25, 1), height 250ms cubic-bezier(0.25, 0.1, 0.25, 1),
                border-radius 250ms cubic-bezier(0.25, 0.1, 0.25, 1), position 250ms cubic-bezier(0.25, 0.1, 0.25, 1), 
                top 250ms cubic-bezier(0.25, 0.1, 0.25, 1), left 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.firstDivContactFormActive{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divContactForm{
    color: yellow;
    text-shadow: 2px 2px 5px black;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 4px;
}

.firstDivContactFormActive .divContactForm{
    gap: 10px;
    border-radius: 20px;
}

.formContactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    gap: 4px;
}

.firstDivContactFormActive .formContactForm{
    gap: 20px;
}

.labelContactForm{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.firstDivContactFormActive .labelContactForm{
    gap: 10px;
}

.inputContactForm{
    width: 60px;
    height: 8px;
    font-size: 5px;
    border: none;
    border-radius: 2px;
    padding: 0 10px;
}

.firstDivContactFormActive .inputContactForm{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
}

.buttonContactForm{
    margin-top: auto;
    width: 28px;
    height: 7px;
    font-size: 3px;
    border: none;
    border-radius: 2px;
}

.firstDivContactFormActive .buttonContactForm{
    width: 90px;
    height: 22px;
    font-size: 14px;
}

.nameInputContactForm{
    font-size: 3px;
}

.firstDivContactFormActive .nameInputContactForm{
    font-size: 20px;
}
.divForContactList{
    padding: 0;
    background: transparent;
    margin: 0;
    flex: 1;
    margin-bottom: 15px;
}

.listContacts{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.listContacts::-webkit-scrollbar{
    width: 0 !important;
    height: 0;
    display: none !important;
    background: transparent;
}

.itemContact{
    padding: 0;
    transition: min-width 250ms cubic-bezier(0.25, 0.1, 0.25, 1), max-height 250ms cubic-bezier(0.25, 0.1, 0.25, 1),
                font-size 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.itemContactActive{
    font-size: 36px;
}

.firstDivItemContact{
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #949494;
    transition: min-height 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.divItemContact{
    color: yellow;
    text-shadow: 2px 2px 5px black;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pItemContactsName{
    margin: 0;
    padding: 0;
}

.pItemContactsNumber{
    padding: 0;
    margin: 0;
}

.buttonDelete{
    border: transparent 1px solid;
    border-radius: 50%;
    background: transparent;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./ItemContact/delete-svgrepo-com.svg#Delete');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
	cursor: pointer;
    transition: border-color ease 0.5s, top 250ms cubic-bezier(0.25, 0.1, 0.25, 1),
                right 250ms cubic-bezier(0.25, 0.1, 0.25, 1), width 250ms cubic-bezier(0.25, 0.1, 0.25, 1),
                height 250ms cubic-bezier(0.25, 0.1, 0.25, 1), border-width 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.itemContactActive .buttonDelete{
    border-width: 2px;
}



.buttonDelete:hover {
    border-color: #d3d3d3;
}

.changeCBut{
    border: transparent 1px solid;
    border-radius: 50%;
    background: transparent;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./ItemContact/pencil-svgrepo-com.svg#Layer_1');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    cursor: pointer;
    transition: border-color ease 0.5s, top 250ms cubic-bezier(0.25, 0.1, 0.25, 1),
                left 250ms cubic-bezier(0.25, 0.1, 0.25, 1), width 250ms cubic-bezier(0.25, 0.1, 0.25, 1),
                height 250ms cubic-bezier(0.25, 0.1, 0.25, 1), border-width 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.itemContactActive .changeCBut{
    border-width: 2px;
}

.changeCBut:hover {
    border-color: #d3d3d3;
}
.labelFilter{
    max-width: 600px;
    width: 100%;
    height: 40px;
    margin-right: 30px;
}

.inputFilter{
    display: flex;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}

.inputFilter::placeholder{
    font-size: 18px;
}
.divLogInForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleLogInForm{
    text-align: center;
}

.logInForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0 10px 10px;
    gap: 50px;
    width: 500px;
    margin: 0;
}

.labelLogInForm{
    width: 100%;
}

.pLogInForm{
    font-size: 18px;
}

.inputLogInForm{
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    margin-top: 10px;
}

.buttonLogInForm{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}
.divNavigation{
    padding: 0;
    margin: 0;
}

.aNavigation{
    text-decoration: none;
    color: #fff;
}

.pNavigation{
    margin: 0;
}
.divContFiltPageUsers{
    margin: 30px 20px;
    display: flex;
    justify-content: space-between;
}
.divRegisterForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleRegisterForm{
    text-align: center;
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0 10px 10px;
    gap: 50px;
    width: 500px;
    margin: 0;
}

.labelRegisterForm{
    width: 100%;
}

.pRegisterForm{
    font-size: 18px;
}

.inputRegisterForm{
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    margin-top: 10px;
}

.buttonRegisterForm{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.headerSharedLayout{
    padding: 30px 20px;
    border-bottom: #fff 1px solid;
    display: flex;
    justify-content: space-between;
}
.divUserMenu{
    display: flex;
    gap: 10px;
}

.pUserMenu{
    margin: 0;
}